.main2 {
    background-color: rgb(18, 18, 18);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    width: 1440px;
    height: 500px;
    
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-top: 10%;
}

.footerContainer__information {
    justify-content: center;
}

.map {
    width: 400px;
    height: 300px;
}