.main1 {
    background-color: rgb(25, 24, 24);
    padding-bottom: 100px;
    padding-top: 100px;
}

.knowUSContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    
  }

  .knowUSContainer__logo {
    padding-left: 80px;
  }


  .knowUSContainer__text {
    
    width: 30%;

  }

  .knowUSContainer__text__h1{
    
  }

  .knowUSContainer__text__p1 {
    color: rgb(225, 225, 225);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .b {
    color: white;
  }


